/* Reset some default styles */
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* Body styles */
body {
 background-color: rgb(219, 229, 229);
 font-family: Arial, sans-serif;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 height: 100vh;
 margin: 0;
 padding: 20px;
}

/* Slide section styles */
.slide {
 background-color: rgb(253, 254, 254);
 margin-top: 60px;
 width: 5cm;
 height: 12cm;
 border-right: 2px solid rgb(148, 152, 148);
 border-radius: 5px;
 box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
 position: relative;
 z-index: 0;
 display: flex;
 flex-direction: column;
 align-items: left;
 padding: 30px;
}

.slide li {
 margin-top: 30px;
 margin-bottom: 20px;
 color: rgb(119, 123, 126);
 display: flex;
 align-items: center;
 font-size: 1.1rem;
}

.slide li svg {
 margin-right: 10px;
 font-size: 1.5rem;
}

/* Whole section styles */
.whole {
 background-color: #fff;
 margin-top: 60px;
 margin-left: -30px;
 width: 25cm;
 height: 12cm;
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
 display: flex;
 flex-direction: column;
 align-items: center;
}

.whole input {
 width: 8cm;
 height: 1.2cm;
 border-radius: 9px;
 border: none;
 border-top: 2px solid #043d04;
 margin-right: auto;
 padding: 0 1rem;
 font-size: 1rem;
 outline: none;
}

/* Diff section styles */
.dif {
 background-color: #f1efed;
 width: 5cm;
 height: 3cm;
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
 margin-top: 50px;
 margin-left: 30px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.dif h2 {
 font-size: 1.2rem;
 margin-bottom: 10px;
}

.dif p {
 font-size: 0.9rem;
 color: #666;
}

.dif svg {
 font-size: 1.5rem;
 margin: 0 10px;
}

.fdif {
 display: flex;
 justify-content: center;
}
